* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(52, 218, 240);
	font-family: 'Gloria Hallelujah', cursive;
}

.player-turn {
	text-align: center;
	margin: 50px 0;
}

.main {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.board {
	display: flex;
	justify-content: center;
}

.box {
	width: 150px;
	height: 150px;
	display: flex;
	background-color: white;
	border: 5px solid rgb(52, 218, 240);
	justify-content: center;
	align-items: center;
	font-size: 150px;
}

.box:hover {
    background-color: lightgray;
}

.player {
	height: 450;
	width: auto;
	text-align: center;
}
